@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "arialroundedmtbold";
  src: url('/fonts/arialroundedmtbold.ttf') format('truetype');
}

@font-face {
  font-family: "dinroundpro";
  src: url('/fonts/dinroundpro.otf') format('opentype');
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}